.frontpage-slider {
  padding: 2rem 0;
}


.doc-card-page {
  display: flex;
  border: 1px solid $light-gray;
  width: 100%;


  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;

  }

  &__image {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    display: none;

    @include media-breakpoint-down(md) { 
      display: block;
      width: 100px;
      height: 100px;
    }
  }
  

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 3rem;
  }

  &__name {
    font-size: ms(3);
    margin: 0;
    padding: 0;
  }

  &__spec {
    text-transform: uppercase;
    font-weight: bold;
    color: $gray;
  }

  &__price {
    font-weight: bold;
    text-transform: uppercase;
    background: $light-gray;
    padding: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
   }

   &__list {
     margin: 0;
     padding: 0;
     list-style: none;
     display: flex;
   }

  &__footer {
    // margin-top: auto;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    // justify-content: space-between;  

    a:first-child {
      color: $white;
    }

    a:last-child {
      color: $black;
    }

  }

  &__button {
    width: 100%;
  }

  &__tel {
    color: $black;
  }

  &__phone {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $black;
    border-radius: 100px;
    align-self: stretch;
    padding: 1rem;
    width: 50%;
  }

  &__feature {
    margin-right: 1rem;
  }

  &__icon {
    border: 1px solid $black;
    padding: .5rem;
    border-radius: 50%;
    margin-right: .5rem;
  }
}


// MEDIAQ

      
@include media-breakpoint-down(md) { 
  .doc-card-page {
    flex-direction: column; 
  }

  .doc-card-page__name {
    font-size: ms(2); 
  }

  .doc-card-page__footer {
    flex-direction: column; 
  }

  .doc-card-page__imgholder {
    display: none;
  }

  .doc-card-page__phone {
    width: 100%;
    margin-top: 1rem;
  }
}

      

// CONTROLS





.slider-controls {
  display: flex;

  &__box {
    margin-right: 1rem;
    cursor: pointer;
  }

  &__image {
    width: 140px;
    height: 140px;
    border-radius: 100%;
  }
}

.slider-controls :not(.tns-nav-active) {
  img {
    opacity: .5;
  }
}
// MEDIAQ

      
@include media-breakpoint-down(md) { 
  .slider-controls__image {
    width: 90px;
    height: 90px;
  }
}

      

// DOC FORM HEADER

.form-doc {
  display: flex;
  background: $light-gray;
  padding: 2rem;
  margin-bottom: 2rem;
  align-items: center;

  &__image {
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }

  &__name {
    padding-left: 2rem;
  }

  &__content {
    padding: 2rem;
  }
}

