.napr-info {

  margin-bottom: 4rem;

  &__inner {
    display: flex;
    background: $light-gray;
    padding: 2rem;
    border-radius: 10px;
  }

  &__icon {
    font-size: 3rem;
    color: $white;
    margin-right: 1rem;
  }
}
