.side-menu {
  list-style: none;
  padding: 0;
  margin: 0;

  & .menu-item  {
    list-style: none;

    border-bottom: 1px solid $light-gray;

    a {
      padding: .6rem 1rem;
      display: flex;
    }
  }
}

.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  // visibility: hidden;
  display: none !important;
}
